*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: red;
  display: inline-block;
  width: 300px;

}

img{
    width: 200px;
    display: none;
}

a{
    width: 400px;
   margin: 40px;
}

ul{
    list-style: circle;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    text-align: end;
    padding: 30px;
    background-color: black;
    color: whitesmoke;
}

li{
   margin: 10px;



}


li:hover{

    color: violet;
    cursor: pointer;
}







